.language-menu {
    position: absolute;
    right: 10px;
    padding: 20px;
    width: 350px;
}

.login-logo-background {
    padding-bottom: 30px;
}

.padre {
    display: flex;
    align-items: center;
    position: relative;
}

.hijo {
    position: absolute;
    top: 50%;
    left: 40%;
    height: 30%;
    width: 70%;
    margin: 15% 0 0 -25%;
}