<div>
    <div class="fondo header_container">
        <div id="header_tit" class="marSUP_20px">
            <div class="row">
                <div id="header_text2" class="hidden_on_mobile cubIZQ">
                    <a href="/acceda/">
                        <img src="/sideam/assets/images/browsernotsupported/LogoMINISDEF.svg" style="margin-right: 30px;" height="98" width="230px" alt="Logo MINISDEF" title="Logo MINISDEF" />
                    </a>
                    <strong>INFORMACIÓN IMPORTANTE SOBRE SU NAVEGADOR</strong>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="navBAR_prehome">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="text-right"></div>
            </div>
        </div>
    </div>

    <div class="container2">
        <div class="row">
            <div class="row marSUP_40px center-block largoM850PX alert alert-warning">
                <div class="col-md-4">
                    <img class="marSUP_20px" src="/sideam/assets/images/browsernotsupported/ico_mantenimiento.svg" alt="PARADA DE SERVICIO POR MANTENIMIENTO" title="Conforme W3C: Esta página está sujeta a las directrices de Accesibilidad de nivel AA"/>
                </div>
                <div class="col-md-8">
                    <h2>SU NAVEGADOR NO ESTÁ SOPORTADO</h2>
                    <p class="text-justify">
                        Esta aplicación no soporta su navegador, ya que está anticuado y supone un riesgo de seguridad alto.
                        <br/><br/>Le recomendamos utilizar Mozilla Firefox, Google Chrome o Internet EDGE.
                    </p>
                    <span>Lamentamos las molestias que ésto pueda producir.</span>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="marSUP_40px">
        Titularidad: Secretaría de Estado | &copy; 2015-2019 <a href="http://www.defensa.gob.es/" title="Enlace a la web del Ministerio de Defensa"> Ministerio de Defensa</a> | Resolución mínima recomendada: 1024x768 píxeles
    </div>
    <div class="imagenAdobe">
        <img src="/sideam/assets/images/browsernotsupported/w3c.png" alt="Conforme W3C: Esta página está sujeta a las directrices de Accesibilidad de nivel AA" title="Conforme W3C: Esta página está sujeta a las directrices de Accesibilidad de nivel AA"/>
    </div>
</div>
