<app-header (toggleMenubar)="toggleMenu()"></app-header>
<div class="ng-content" [ngClass]="{'hidden-menu-content': !isMobileResolution && !isMenuVisible}" style="height: calc(100vh - 70px)">
    <p-sidebar #menubar [visible]="isMenuVisible" position="left" [showCloseIcon]="false" styleClass="np-menubar" [modal]="false">
        <app-menu (closeClicked)="isMobileResolution && isMenuVisible=$event" [items]="menuItems" className="np-menu">
        </app-menu>
    </p-sidebar>
    <div class="headerPages">
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>

    <router-outlet></router-outlet>
</div>